@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Yeseva+One&display=swap');

*{
  box-sizing: border-box;
  scroll-behavior: smooth;
}

@theme {
  --font-poppin:"Poppins", sans-serif;
  --font-Yeseva:"Yeseva One";
} 


:root {
  font-size: 16px; 
}

@media (max-width: 1240px) {
  :root {
    font-size: 15px; 
  }
}

@media (max-width: 1040px) {
  :root {
    font-size: 14px; 
  }
}

@media (max-width: 768px) {
  :root {
    font-size: 12px; 
  }
}

@media (max-width: 425px) {
  :root {
    font-size: 11px; 
  }
}

@media (max-width: 325px) {
  :root {
    font-size: 10px; 
  }
}